@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

:root {
	--primary-color: #000000;
	--secondary-color: rgb(140, 140, 140);
	--hover: rgba(0,0,0,.5);
	--background-color:  rgba(245, 245, 245, 0.1)
  }

*, *:before, *:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

body {
	background-color: var(--secondary-color);
}

.container {
	width: 100%;
}

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 18px;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	margin: 0 auto;
	border: none;
}


/* --- Font Family Defaults --- */

h1 {
	font-family: 'Kosugi Maru', sans-serif;
	font-size: 2rem;
	letter-spacing: 4px;
	color: whitesmoke;
}

h2 {
	font-family: 'Kosugi Maru', sans-serif;
	font-size: 24px;
	color: whitesmoke;
}

p {
	font-family: 'Kosugi Maru', sans-serif;
	font-size: 16px;
	line-height: 1.75rem;
	color: whitesmoke;
}

button {
	font-family: 'Kosugi Maru', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
}


/* --- Design Element Defaults --- */

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	/* dynamic rows */  
	grid-auto-flow: row;
	  grid-auto-rows: minmax(100px, auto);
	  grid-gap: 20px;
}

img {
	width: 100%;
}

button, input, textarea, .cta {
	font-family: 'Kosugi Maru', sans-serif;
	background-color: inherit;
}

.fa-icon img {
	width: 30px;
}
  
.fa-icon:hover, .logo:hover {
	transform: scale(1.2);
	transition: .3s ease;
}


/* Reusable Components */

/* Call-to-Action */
.cta {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	color: white;
	padding: 50px 30px;
	/* border: 20px solid rgba(245, 245, 245, 0.05); */
	background-color: var(--background-color);
  }
  


.cta p {
	margin: 30px 0 50px;
}
  
.cta a {
	text-transform: uppercase;
	text-decoration: none;
}
  
.cta a:link,
.cta a:visited {
	padding: 16px 55px;
	background-color: rgba(245, 245, 245, 0.1);
}

.cta a:link,
.cta a:visited {
  display: block;
  text-align: center;
  color: white;
}

.cta a:hover,
.cta a:focus {
  transition: .3s;
  color: var(--hover);
  background-color: white;
}

.cta a:active {
	background-color: rgba(245, 245, 245, 0.1);
}


/* --- Start Navigation --- */

nav {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
}
  
.logo {
	margin: 0 auto 0 20px;
}
  
.logo a {
	display: flex;
	align-items: center;
	color: rgba(245, 245, 245, 0.687);
	text-decoration: none;
}
  
.logo img {
	width: 35px;
}

.navbar-icons {
	display: flex;
	align-items: center;
	margin-right: 20px;
}
  
.navbar-icons li:nth-child(1),
.navbar-icons li:nth-child(2),
.navbar-icons li:nth-child(3) {
	display: none;
}

/* Feature Navigation - Learn | About | Design */
.feature-nav {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-top: 30px;
	text-align: center;
	/* border: thin solid whitesmoke; */
}

.feature-nav a:link,
.feature-nav a:visited {
	flex-grow: 1;
	flex-basis: 100%;
	font-family: 'Kosugi Maru', sans-serif;
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	color: whitesmoke;
	padding: 20px 0;
	background-color: rgba(245, 245, 245, 0.1);
}

.feature-nav a:hover,
.feature-nav a:focus,
.feature-nav a.current {
	color: var(--hover);
	background-color: whitesmoke;
}


.feature-nav a:nth-child(1),
.feature-nav a:nth-child(2) {
	/* border-right: thin solid rgba(245, 245, 245, 0.5); */
	margin-right: 20px
}


/* --- Start Home --- */

/* Hero - Think Graphically, Garth */
.hero h1 {
	color: whitesmoke;
	text-align: center;
	text-transform:uppercase;
	padding: 50px;
}

.hero .fa-heart {
	font-size: 5.75vw;
	line-height: 6vw;
	margin: 0 2vw 1.3vw 0;
}

.feature-content {
	padding: 50px 0;
}

.feature-content article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
	background-color: rgba(245, 245, 245, 0.1);
}

.feature-content article:hover {
	opacity: 20%;
}

.feature-content h2 {
	text-align: center;
	padding: 10px;
	margin-bottom: 30px;
	background-color: var(--background-color);
}

.feature-content p {
	text-align: center;
}


/* --- Start Footer --- */

footer {
	background-color: var(--background-color);
	padding-bottom: 100px;
}

footer .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-cta {
	width: 100%;
	height: 300px;
	padding: 50px;
	margin-bottom: 50px;
	background-color: var(--background-color);
}

form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 0;
	margin-bottom: 100px;
	background-color: var(--background-color);
}
  
fieldset {
	color: white;
	margin: 0 0 30px;
	width: 80%;
}


input[type=text], textarea {
	display: flex;
	flex-direction: column;
	resize: vertical;
	width: 100%;
	border: none;
}
  
  
#name, #email, #message {
	font-size: inherit;
	margin-top: .5rem;
	padding: .5rem;
	border: none;
	background-color: var(--background-color);
  }
  
form button {
	width: fit-content;
	font-size: inherit;
	color: white;
	border: none;
	padding: 16px 55px;
	margin: 30px;
	background-color: var(--background-color);
  }

  form button:hover, form button:focus {
	color: var(--hover);
	background-color: whitesmoke;
  }

form input:focus, form textarea:focus {
	background: whitesmoke;
	border-radius: 0;
  }

  .footer-icons {
	display: flex;
	justify-content: space-between;
	width: 180px;
	margin-bottom: 40px;
}
  
.copyright {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}
  
.copyright li {
	font-size: 1rem;
	line-height: 1.5rem;
	color: white;
	padding: 0;
}




/* --- Start Media Queries --- */

@media (min-width: 420px) {

	.navbar-icons li:nth-child(1),
	.navbar-icons li:nth-child(2),
	.navbar-icons li:nth-child(3) {
		display: block;
		margin: 0 20px 0 0;
	}

	.hero h1 {
		font-size: 6.5vw;
		line-height: 8vw;
	}
}


@media (min-width: 768px) {

	/* --- Start Hero --- */

	.hero h1 {
		font-size: 46px;
		line-height: 60px;
	}

	.hero .fa-heart {
		font-size: 44px;
		margin: 0 15px 10px 0;
	}


	/* --- Start Footer --- */

	form {
		width: 50%;
		align-self: flex-end;
	}

}


@media (min-width: 1200px) {

	/* --- Start Footer --- */

	footer p {
		font-size: max(40px);
	}

	footer p:nth-child(2) {
		font-size: max(30px);
	}

}