@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Start Global */

:root {
  --primary-black: #101010;
  --hover: rgba(0,0,0,.5);
}

*, *:after, *:before {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 100%;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: white;
  
}

.home {
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	/* align-items: flex-end; */
	background-image: linear-gradient( rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, .05)), url("../img/hero.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Start Header */


header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto 0;

}

/* nav flex item */
.hero {
  display: flex;
  flex-direction: column;
	text-align: center;
}

.hero h1 {
  font-family: 'Exo 2', sans-serif;
  font-size: 21px;
  font-weight: 100;
  color: white;
  opacity: 90%;
}

.hero h2 {
  font-family: 'Exo 2', sans-serif;
  font-size: 8vw;
  line-height: 82%;
  font-weight: 100;
  color: whitesmoke;
  text-transform: uppercase;
  padding: 30px;
  text-align: center;

}

.hero a {
  display: inline-block;
  font-size: 1.2rem;
  align-self: center;
  padding: 14px 34px;
	font-family: inherit;
} 

.hero a:link,
.hero a:visited {
  background-color: rgb(172, 42, 42);
  color: white;
  border-radius: 2px;
}

.hero a:hover {
	font-weight: 400;
  background-color: white;
  color: rgb(172, 42, 42);
}

.fa-arrow-right {
	margin-right: 6px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	width: 100%;
	padding: 30px 0;
}

footer a, 
footer a:link, 
footer a:visited, 
footer a:hover {
	color: white;

}

@media (orientation: landscape) {

  .hero h2 {
    font-size: 6vw;
  }
}

@media (min-width: 1024px){

  .hero h2 {
      font-size: 60px;
  }
}

