@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

/* Start Global */

:root {
  --primary-blue: #005e9e;
  --primary-yellow: #e6b222;
  --primary-black: #313133;
  --secondary-blue: #007ebe;
  --dark-blue: #004e83;
  --hover: rgba(0, 0, 0, 0.5);
}

*, *:after, *:before {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #444;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #444;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  border-top: var(--primary-yellow) solid 6px;
  background-color: white;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 4rem;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 3rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2.4rem;
}

/* img {
  display: block;
  width: 100%;
  height: auto;
	margin: auto;
} */

.button a:link, .button a:visited {
  display: block;
  padding: 10px 40px;
  border: solid #fff 1px;
  text-align: center;
  color: white;
}

.button a:hover {
  transition: 0.3s;
  color: var(--primary-black);
  background-color: white;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 100px auto 0;
	background-color: white;
}

.icons img {
  height: 50px;
}

.feature-image {
  margin-top: -1px;
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fa-home:hover, .fa-shopping-cart:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-out 0.1s;
}

.logo:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-out 0.1s;
}

.hidden-text-link {
  visibility: hidden;
  position: absolute;
  left: -100vw;
}

/* Start Header */

nav {
  background-color: var(--primary-blue);
  border-top: white solid 6px;
}

.logo {
  width: 100px;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 12px 0px 10px 0px;
}

.main-links {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.fa-icon {
  display: none;
}

.main-links li {
  padding: 0 10px;
}

.main-links li:last-child {
  border: 5px solid red;
}
.main-links .button a:link,
.main-links .button a:visited {
  width: 100%;
}

/* .primary-nav {
	display: flex;
	justify-content: flex-end;
  width: 100%;
  align-items: center;
  font-size: 1rem;
}

.primary-nav li a:link,
.primary-nav li a:visited {
  display: block;
  padding: 10px 0px;
  color: white;
  opacity: 0.8;
}

.primary-nav li a:hover {
  transition: 0.3s;
  opacity: 1;
}

.primary-nav .fa {
  font-size: 24px;
} */

.feature-nav {
	display: flex;
	align-items: center;
  border-bottom: var(--primary-yellow) solid 6px;
  background-color: var(--primary-black);
}

/* .primary-links {
	display: flex;
	justify-content: center;
	width: 100%;
}

.primary-links li {
	padding: 0 10px;
} */

.feature-nav li {
  flex-grow: 1;
  flex-basis: 0;
  white-space: nowrap;
  text-align: center;
}

.feature-nav li:nth-child(1),
.feature-nav li:nth-child(2) {
  border-right: solid #222 thin;
}

.feature-nav a:link,
.feature-nav a:visited {
  display: block;
  text-decoration: none;
  color: white;
  padding: 30px 10px;
}

.feature-nav a:hover {
  color: #fff;
  transition: 0.3s;
  background-color: var(--primary-blue);
}

.feature-nav a:active,
.feature-nav a.current-page {
  display: block;
  color: #fff;
  background-color: #313635;
}

/* Start Home */

.home .hero img {
  display: block;
  width: 100%;
}

.home .feature-category {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 10px;
}

.home .feature-category img {
  width: 100%;
  height: auto;
}

.home figcaption h2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: white;
  padding: 0.5rem 1rem 0.5rem;
	background-color: var(--primary-yellow);
}

.home .feature-article {
  width: 80%;
  margin: 0 auto;
  padding: 60px 0 70px;
}

.home .feature-image img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 10px 0;
  background-color: var(--secondary-blue);
}

/* Start Footer */

footer {
  background-color: var(--primary-black);
}

footer .shipping-terms {
  background-color: var(--primary-blue);
}

.footer-text-links {
	font-size: 1.1rem;
	text-align: center;
	padding: 50px 0 20px;
	border-top: 6px solid white;
}

.footer-text-links li {
	width: 120px;
	margin: 0 auto;
	padding: 20px 0;
}

.footer-text-links li a:link,
.footer-text-links li a:visited {
	display: block;
	width: 100%;
	padding: 10px;
	color: white;
	background-color: rgba(255, 255, 255, 0.1);
}

.footer-text-links li a:hover {
	color: white;
	background-color: var(--primary-blue);
	transition: 0.3s;
}

.footer-social-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.footer-social-icons li:nth-child(2) {
	margin: 0 20px;
}

.footer-social-icons img {
	width: 40px;
}

.footer-social-icons li {
	margin: 20px 0;
}

.footer-social-icons li:hover {
	transform: scale(1.1);
	transition: all 0.25s ease-out 0.1s;
}

.copyright p {
	font-size: 1.1rem;
	text-align: center;
	color: white;
	padding-bottom: 60px;
}

/* Start Breakpoints */

@media (min-width: 768px) {

	.home .feature-article {
		width: 75%;
	}

	.home .feature-category {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
		margin: 10px;
	}

	.primary-footer {
		flex-wrap: wrap;
		padding: 0;
	}



	.footer-terms {
		justify-content: space-between;
		flex-direction: row;
		padding: 40px 0 50px;
		width: 75%;
		margin: auto;
	}

	.footer-terms .logo {
		margin: 0 50px;
	}

	/* .footer-terms li:nth-child(1) {
		order: 2;
	}

	.footer-terms li:nth-child(2) {
		order: 1;
	}

	.footer-terms li:nth-child(3) {
		order: 3;
	} */

	.footer-text-links {
		display: flex;
		justify-content: center;
		flex-basis: 100%;
		order: 2;
		padding: 60px 0 0;
		order: 1;
	}

	.footer-text-links li {
		width: 150px;
		text-align: center;
		margin: 10px 10px 0;
	}

	.footer-social-icons {
		padding: 20px 0 20px;
		margin: 0;
	}
}