@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

body {
	background-image: linear-gradient(#25362b 30%, #3f5c49 75%);
}

h1 {
	font-family: 'Press Start 2P', cursive;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	font-weight: 400;
	line-height: 110px;
	color: white;
}

p {
	font-family: 'Kosugi Maru', sans-serif;
	text-align: left;
	font-size: 1.25rem;
	line-height: 3rem;
	color: #3f5c49;
	padding: 30px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 18px;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

/* Start Navigation */

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
	border: none;
}

header h1 {
	font-size: 6vw;
	line-height: 7vw;
	color: orange;
	text-transform:uppercase;
	padding: 30px 0 0 10px;
}

.fa-heart {
  font-size: 5.75vw;
  line-height: 6vw;
  margin: 0 2vw 1.3vw 0;
}

nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 30px auto 0;
	text-align: center;
	border: 1px dotted #f08902;
	border-radius: 20px;
}

nav a:link,
nav a:visited {
	flex-grow: 1;
	font-family: 'Kosugi Maru', sans-serif;
	font-weight: 300;
	font-size: 1.6rem;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	color: orange;
	padding: 20px;
}

nav a:hover,
nav a:focus,
nav a:active {
	color: #fff;
}

nav a:nth-child(1),
nav a:nth-child(2) {
	border-right: thin dotted #f08902;
}

article h2 {
	text-align: right;
	margin: -34px 16px 0 0;
	color: orange;
}

article p {
	margin: -30px 0 0 0;
	border-radius: 25px 25px 25px 25px;
	background-color: orange;
	background-image: linear-gradient(#ffb700 35%, #f08902 90%);
}


footer {
	padding: 30px;
	text-align: center;
	margin: 0 auto;
}

footer p {

	font-family: 'Oswald', sans-serif;
	font-weight: 200;
	font-size: 4vw;
	line-height: 5vw;
	text-align: center;
	color: orange;
}

footer p:nth-child(2) {
	font-size: 3.5vw;
	}


/* Start Small Screen Adjustments */

@media (min-width: 420px) {

	p {
		font-size: 1.65rem;
		line-height: 2.75rem;
	}


@media (min-width: 768px) {

	header h1 {
		font-size: 46px;

	}

	.fa-heart {
	  font-size: 44px;
	  margin: 0 15px 10px 0;
	}
}



/* Start Large Screen Adjustments */

@media (min-width: 1200px) {


	footer p {
		font-size: max(40px);
	}

	footer p:nth-child(2) {
		font-size: max(30px);
	}

}