@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');


/* --------------------- */
/* --- GLOBAL STYLES --- */
/* --------------------- */


:root {
	--body-color: rgb(50, 50, 50);
	--background-color:  rgba(245, 245, 245, 0.1);
	--hover: rgba(0,0,0,.75);
	--light-green: rgb(97, 210, 170);
  }

html {
	box-sizing: border-box;
	font-family: 'Kosugi Maru', Arial, Helvetica, sans-serif;
	font-size: 100%;
}

body {
	color: var(--light-green);
	background-color: var(--body-color);
}

.container {
	width: 100%;
}

.wrapper {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 18px;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	margin: 0 auto;
	border: none;
}


/* --- NAVIGATION --- */

nav {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 40px;
}
  
.logo {
	margin: 0 auto 0 20px;
}
  
.logo img {
	width: 34px;
	margin-right: 10px;
}

.navbar-icons {
	display: flex;
	align-items: center;
	margin-right: 20px;
}
  
.navbar-icons li:nth-child(1),
.navbar-icons li:nth-child(2),
.navbar-icons li:nth-child(3) {
	display: none;
}

.feature-nav {
	display: flex;
	flex-basis: 100%;
	justify-content: space-between;
	font-family: 'Kosugi Maru', sans-serif;
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	color: var(--light-green);
	margin-top: 20px;
}

.feature-nav li {
	flex-grow: 1;
	flex-basis: 100%;
}

.feature-nav li:nth-child(1),
.feature-nav li:nth-child(2) {
	margin-right: 20px
}

.feature-nav a:link,
.feature-nav a:visited {
	display: block;
	color: inherit;
	padding: 20px 0;
	background-color: rgba(245, 245, 245, 0.1);
}

.feature-nav a:hover,
.feature-nav a:focus,
.feature-nav a.current-page {
	color: var(--hover);
	background-color: var(--light-green);
}


/* --- FONTS --- */

h1 {
	font-family: 'Kosugi Maru', sans-serif;
	font-size: 10.5vw;
	line-height: 1em;
	text-align: center;
	padding: 50px 0;
	text-transform:uppercase;
	letter-spacing: 4px;
	color: var(--light-green);
}

h2 {
	font-family: 'Kosugi Maru', sans-serif;
	font-size: 24px;
	color: var(--light-green);
	margin: 0 0 30px;
}

p {
	font-family: 'Kosugi Maru', sans-serif;
	font-size: 16px;
	line-height: 1.75rem;
	color: var(--light-green);
}


/* ----------------------------*/
/* --- REUSABLE COMPONENTS --- */
/* ----------------------------*/


/* --- GRID --- */

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	/* dynamic rows */  
	grid-auto-flow: row;
	grid-auto-rows: minmax(300px, auto);
	grid-gap: 20px;
	margin: 0 0 50px;
}


/* --- FLEXBOX --- */

.flex-box-800 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 50px;
	margin: 0 0 50px;
	background-color: var(--background-color);
  }

  .border-box-800 p {
	max-width: 800px;
  }
  

/* --- IMAGES --- */

img {
	width: 100%;
}


/* --- ICONS --- */

nav .fa-icon img, footer .fa-icon {
	width: 30px;
}
  
nav .fa-icon:hover, .logo:hover, footer .fa-icon:hover {
	transform: scale(1.2);
	transition: .3s ease;
}


/* --- BUTTONS --- */

.button-200  {
	width: 200px;
	height: fit-content;
	font-family: 'Kosugi Maru', sans-serif;
	font-size: 1rem;
	color: var(--light-green);
	text-transform: uppercase;
	text-decoration: none;
	padding: 16px 0;
	margin: 50px auto 10px;
	border: none;
	background-color: var(--background-color)
}
  
.button-200:link,
.button-200:visited {
	display: block;
	text-align: center;
}

.button-200:hover,
.button-200:focus {
  transition: .3s;
  color: var(--hover);
  background-color: var(--light-green);
}

.button-200:active {
	background-color: var(--background-color);
}

/* --- CARDS --- */

.cards {
	text-align: center;
	padding: 50px;
	background-color: var(--background-color);
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
	background-color: var(--background-color);
}

.card h2 {
	margin: 0 0 10px 0;
}


/* --- FORMS --- */

.form-wrapper {
	margin: 0 0 50px;
	padding: 50px 0 80px;
	background-color: var(--background-color);
}

.form-info {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
  
fieldset {
	color: var(--light-green);
	margin: 0 0 30px;
	width: 80%;
}


input[type=text], textarea {
	display: flex;
	flex-direction: column;
	resize: vertical;
	width: 100%;
	border: none;
}
  
  
#name, #email, #message {
	font-size: inherit;
	margin-top: .5rem;
	padding: .5rem;
	border: none;
	background-color: var(--background-color);
  }


form input:focus, form textarea:focus {
	background: var(--light-green);
	border-radius: 0;
  }


/* --- MAPS --- */

.map {
	width: 100%;
	height: 500px;
}


/* --- LEARNING MODULES ---*/


.modules {
	padding: 50px;
	background-color: var(--background-color);
}

.learning-module {
	padding: 50px;
	background-color: var(--background-color);
}

.learning-module li {
	border-right: thin solid whitesmoke;
	border-left: thin solid whitesmoke;
	border-top: thin solid whitesmoke;
}

.learning-module li:last-child {
	border-bottom: thin solid whitesmoke;
}

.learning-module li a {
	display: block;
	padding: 20px;
	color: var(--light-green);
}

.learning-module li a:hover {
	color: whitesmoke;
	background-color: var(--light-green);
}


/* --- LEARNING MODULE ICONS --- */

.fa-external-link a[href^="http"]:before, 
.fa-codepen-link  a[href*="codepen/"]:before {
	display: inline-block;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 12px;
	color: whitesmoke;
	height: 100%;
	vertical-align: middle;
	padding-right: 8px;
}

.fa-external-link a[href^="http"]:before {
	content: "\f0c1";
}

.fa-codepen-link a[href*="codepen/"]:before {
	content: "\f0c1";
}



/* ---------------------- */
/* --- HOME home.html --- */
/* ---------------------- */

.home h1 {
	text-align: center;
	padding: 50px 0;
}

.home .hero .button-200 {
	margin-top: 30px;
}



/* ------------------------ */
/* --- LEARN learn.html --- */
/* ------------------------ */





/* ---------------*/
/* --- FOOTER --- */
/* ---------------*/


footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--background-color);
	padding-bottom: 100px;
}

footer .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-icons {
	display: flex;
	justify-content: space-between;
	width: 180px;
	margin: 80px 0 30px;
}
  
.copyright {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}
  
.copyright li {
	font-size: 1rem;
	line-height: 1.5rem;
	color: white;
	padding: 0;
}



/* --------------------- */
/* --- MEDIA QUERIES --- */
/* --------------------- */


@media (min-width: 420px) {

	.navbar-icons li:nth-child(1),
	.navbar-icons li:nth-child(2),
	.navbar-icons li:nth-child(3) {
		display: block;
		margin: 0 20px 0 0;
	}

	h1 {
		font-size: 6.25vw;
		line-height: 8vw;
	}

	.home .cards.grid {
		grid-template-columns: 1fr;
	}

	.learn .modules.grid {
		grid-template-columns: 1fr;
	}
	
}


@media (min-width: 768px) {

	/* --- HERO --- */
	h1 {
		font-size: 46px;
		line-height: 60px;
	}

	/* --- FORM --- */
	.form-wrapper {
		display: grid;
		grid-template-columns: 50% 50%;
	}

	.form-info {
		height: 100%;
		align-items: center;
	}

}

@media (min-width: 976px) {

	/* --- BLOG ARTICLES GRID --- */
	.home .cards.grid {
		grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
	}

}