@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Start Global */

:root {
  --primary-black: #101010;
  --hover: rgba(0,0,0,.5);
}

*, *:after, *:before {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: rgb(55, 64, 62);
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  background-color: white;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 3rem;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.85rem;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.85rem;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.button a:link,
.button a:visited {
  display: block;
  padding: 10px 40px;
  border: solid #fff 1px;
  text-align: center;
  color: white;
}

.button a:hover {
  transition: .3s;
  color: var(--primary-black);
  background-color: white;
}

@keyframes scale {
  0% { opacity: 0; transform: scale(0); }
  50% { opacity: 0; transform: scale(.5); }
  100% { opacity: 1; transform: scale(1); }
}

/* Start Header */

nav {
display: flex;
flex-direction: column;
justify-content: space-between;
min-height: 100vh;
background-image: linear-gradient( rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, .05)), url("../img/hero.png");
background-position: center top;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;

}

.fa-object-group, .fa-video, .fa-code {
  font-size: 30px;
  margin-bottom: 10px;
}

.primary-nav {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  background-color: rgba(255,255,255,.1);
  padding: 30px 10%;
}

.logo {
  margin-right: auto;
}

.logo a {
  display: flex;
  align-items: center;
  color: white;
  margin-right: auto;
}

.logo img {
  width: 40px;
  margin-right: 12px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons li:nth-child(1),
.social-icons li:nth-child(2),
.social-icons li:nth-child(3),
.social-icons li:nth-child(4) {
  display: none;
}

.social-icon img {
  width: 30px;
}

.social-icon:hover {
  transform: scale(1.2);
  transition: .3s ease;
}

/* nav flex item */
.hero {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 40px 0 60px;
}

.hero h1 {
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: white;
  text-align: center;
  opacity: 90%;
}

.hero h2 {
  width: 90%;
  font-family: 'Exo 2', sans-serif;
  font-size: 12vw;
  line-height: 80%;
  font-weight: 100;
  color: whitesmoke;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0 40px;
  margin: 0 auto;
}

.hero h3 {
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  text-align: center;
  color: white;
  margin: 0 auto;
  padding: 0 30px;
}

.hero a {
  display: inline-block;
  font-size: 1.2rem;
  align-self: center;
  margin: 10px 0 0;
  padding: 12px 25px;
} 

.hero a:link,
.hero a:visited {
  background-color: red;
  color: white;
  border-radius: 2px;
}

.hero a:hover {
  background-color: white;
  color: var(--primary-black);
  transition: .3s;
}

.feature-nav {
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 20px 20px;
  background-image: linear-gradient(to right, red, green, blue);
}

.feature-nav li {
  flex-basis: 100px;
  flex-grow: 1;
  text-align: center;
  white-space: nowrap;
}

.feature-nav a:link,
.feature-nav a:visited {
  display: block;
  text-decoration: none;
  color: white;
}

.feature-nav a:hover {
  color: rgba(255,255,255,.5);
  transition: 0.3s;
}

/* nav flex item */
.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 20px;
  background-color: rgba(255,255,255,.5);
}

.cta h2 {
  text-align: center;
  margin: 10px 10px;
}

.cta a {
  font-size: 1.2rem;
  margin: 10px 10px;
}

.cta a:link,
.cta a:visited {
  font-weight: 300;
  padding: 12px 25px;
  color: white;
  border-radius: 2px;
  background-color: var(--primary-black);
}

.cta a:hover {
  font-weight: 300;
  color: var(--primary-black);
  transition: .3s;
  background-color: white;
}

/* Start Main */

.home .feature-category {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.home .feature-category img {
  width: 100%;
  height: auto;
}

.home .feature-category a {
  opacity: 80%;
  width: 100%;
  height: 250px;
  background-color: green;
  border: 1px solid blue;
}

.feature-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 160px 0 180px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url("../img/feature.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.feature-article h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 40px;
  line-height: 100%;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 0px 0 16px;
}

.feature-article h3 {
  font-size: 1.35rem;
  line-height: 2.5rem;
  font-weight: 300;
  color: white;
}

.feature-article p, .feature-article a {
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
  padding: 0 0 20px;
  opacity: 100%;
}

.feature-article a:link,
.feature-article a:visited {
  align-self: center;
  font-weight: 300;
  margin: 10px 0 0;
  padding: 12px 25px;
  background-color: var(--primary-black);
  color: white;
  border-radius: 2px;
}

.feature-article a:hover {
  font-weight: 300;
  background-color: white;
  color: var(--primary-black);
  transition: .3s;
}


/* Start Footer */

footer {
  background-color: var(--primary-black);
}

.primary-footer {
  font-size: 1.1rem;
  text-align: center;
  padding: 50px 0 20px;
}

.footer-buttons li {
	width: 180px;
	margin: 0 auto;
	padding: 10px 0;
}

.footer-buttons li a:link,
.footer-buttons li a:visited {
	display: block;
	width: 100%;
	padding: 14px;
	color: white;
	background-color: rgba(255,255,255,.1);
}

.footer-buttons li a:hover {
	color: var(--primary-black);
	background-color: white;
	transition: all ease-in .2s;
}

.project-button {
  width: 240px;
  margin: 40px auto 0;
  color: white;
}

.project-button a {
  margin: 10px auto;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  width: 180px;
  padding: 20px 0 0;
  margin: 0px auto;
}

.copyright {
  padding: 20px 0 80px 0;
}

.copyright p {
  font-size: 1rem;
  line-height: 1.5rem;
	text-align: center;
	color: white;
	padding: 0;
}

.copyright a {
  font-size: 1rem;
  line-height: 1.5rem;
	text-align: center;
	color: white;
	padding: 0;
}


/* Start Breakpoints */

@media (min-width: 420px) {

  .feature-article h2 {
    font-size: 8vw;
    line-height: 60px;
    margin: 0 5% 0;
  }
    
  .cta {
    flex-direction: row;
  }
 
  .home .feature-category {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 570px) {

  .social-icons li:nth-child(1),
  .social-icons li:nth-child(2),
  .social-icons li:nth-child(3),
  .social-icons li:nth-child(4) {
    display: block;
    margin: 0 18px 0 0;
  }

  .home .feature-category {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

@media (min-width: 768px) {
  
  .logo {
    margin-right: auto;
  }

  .hero h2 {
    font-size: 4vw;
  }

  .feature-article h2 {
    font-size: 60px;
    width: 100%;
  }

  .primary-footer {
    flex-wrap: wrap;
    padding: 0;
  }

  .footer-buttons li {
  	width: 150px;
  	text-align: center;
  	margin: 10px 10px 0;
  }

  .footer-buttons {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    padding: 60px 0 0;
  }
}

@media (min-width: 1366px){

  .hero h2 {
      font-size: 54px;
  }
}
